################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MicrosoftStore/FileContentIndex/59e91c3e-cec5-4dd5-8a65-42b92c983fa1.vsidx
/.vs/MicrosoftStore/FileContentIndex/807df0ef-2b5a-4017-88ca-107c1a4a86dc.vsidx
